Task:
Give these home prices find out price of a home that has. area,bedrooms,age

# Data preprocessing

In [11]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [12]:
df=pd.read_csv("home_price_for_multiLinear.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

Our linear regression equation is:
price=m1 * area + m2 * bedrooms + m3 * age + b

Dependent variable =price                         

Independent variables(features)= area,bedrooms,age

Fill NaN value:

In [13]:
import math
median_bedrooms=math.floor(df.bedrooms.median())
median_bedrooms

3

In [14]:
#Fill NaN values
df.bedrooms=df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

# Train the model

In [5]:
#Created object of LinearRegression
regressor=linear_model.LinearRegression()

#train your model using fit method
#target variable=price
#independent variable='area','bedrooms','age'
regressor.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [6]:
print(f"My coeficiente m1,m2,m3=  {regressor.coef_}")

My coeficiente m1,m2,m3=  [   137.25 -26025.    -6825.  ]

In [7]:
print(f"My intercept b =  {regressor.intercept_}")

My intercept b =  383724.9999999998

In [8]:
regressor.predict([[3000,3,40]]) #area 3000,bedroom=3,age=30

array([444400.])

In [9]:
regressor.predict([[2500,4,5]])

array([588625.])